<!-- Link Gitalk support files -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<!-- <script type="text/javascript" src="/assets/js/md5.min.js"></script> -->
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
                 clientID: "d3d107a229a597dde301",
                 clientSecret: "fbd11f2dd79a07c9b8564a7ea27e172a1cadd143",
                 repo: "myProject",
                 owner: "eechooo",
                 admin: ["eechooo"],
                 id: location.pathname.substring(0,30),
        
    });
    gitalk.render('gitalk-container');
</script> 